{% extends 'appGuide/Guide_base1_2.html' %}
{% load static %}

{% block main_body %}


    {# ここから #}


<H2>ようこそ！！</H2>
    <H3>ゆっくりしていって</H3>
    <H4>下さいね</H4>

<p class="text-muted">慶應義塾大学</p>
<p class="text-primary">先端生命科学研究所</p>
<p class="text-success">Institute for Advanced Biosciences</p>
<p class="text-info">Keio University</p>
<p class="text-warning">鶴岡</p>
<p class="text-danger">Tsuruoka</p>

<p class="bg-primary">先端生命科学研究所</p>
<p class="bg-success">Institute for Advanced Biosciences</p>
<p class="bg-info">Keio University</p>
<p class="bg-warning">鶴岡</p>
<p class="bg-danger">Tsuruoka</p>

    <span class="badge badge-info">IAB</span>

<div class="card">
    <div class="card-header">
      ご案内
    </div>
    <div class="card-body">
貴方が気に入るガイドがきっと見つかります。
    </div>
</div>

    {# ここまでの間に色々と書いてみる #}


{% endblock %}