{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>

    <meta charset="utf-8">
    <title>Takenori's Tsuruoka Guide Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Common/bootstrap-4.4.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Common/datetimepicker20200314/jquery.datetimepicker.css' %}">
    <script type="text/javascript" src="{% static 'Common/jquery-3.4.1/jquery-3.4.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'Common/bootstrap-4.4.1-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'Common/datetimepicker20200314/build/jquery.datetimepicker.full.min.js' %}"></script>

    {% block header_script %}
        <script>

        </script>
    {% endblock %}

</head>

<body>
<div class="container">

    <div class="page-header mt-3 bg-info">
        <h1>鶴岡観光語り部プラットフォーム</h1>
        <p>プロトタイプ版 Ver 0.1 (2020/03/14)</p>
    </div>

    {% block main_body %}
    ...
    {% endblock %}

</div>
</body>

</html>
